.news {
    position: relative;
    width: 100vw;
    min-height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 140px 0 80px;

    @include mobile-tablet {
        padding: 100px 0 60px;
        min-height: 400px;
    }

    &__background {
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
        background: center url('../img/first-screen-bg.jpg') no-repeat;
        background-size: cover;
    }

    &__filter {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        background: rgba(233, 223, 209, 0.8);
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__item {
        position: relative;
        z-index: 2;
        box-sizing: border-box;
        width: 1000px;
        min-height: 400px;
        background: $pink;
        border: 10px solid $white;
        padding: 3px;
        display: flex;
        justify-content: space-between;

        &:not(:last-child) {
            margin-bottom: 40px;
        }

        @include tablet {
            border: 8px solid $white;
            padding: 2px;
            width: 600px;
        }

        @include mobile {
            width: calc(100% - 20px);
        }
    }

    &__photo {
        box-sizing: border-box;
        background: url('../img/vacancies-photo.jpg') no-repeat;
        background-size: cover;
        border: 10px solid $white;
        width: calc(50% - 1px);

        @include mobile-tablet {
            display: none;
        }
    }

    &__text-block {
        box-sizing: border-box;
        background: $white;
        width: calc(50% - 2px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;

        @include mobile-tablet {
            width: 100%;
        }

        &::before,
        &::after {
            content: '';
            width: 100px;
            height: 50px;
            background: url('../img/weave.svg') no-repeat;
            margin: 5px 0;
        }

        &::after {
            transform: rotate(180deg);
        }
    }

    &__title {
        font: 18px/1.3 $PTserif;
        text-transform: uppercase;
        color: $red;
        margin-bottom: 20px;
        text-align: center;
    }

    &__text,
    &__date {
        font: 14px/1.3 $PTserif;
        color: $red;
        text-align: center;
    }

    &__link {
        text-decoration: none;
        color: $red;
        font: 14px/1.3 $PTserif;

        &:hover {
            text-decoration: underline;
        }
    }
}
