<div class="hotel-rooms__item">
  <div class="hotel-rooms__frame-wrapper">
    <svg class="hotel-rooms__frame">
      <g mask="url(#mask1)">
        <image class="hotel-rooms__img" xlink:href="img/hotel/room-1.jpg" width="100%" height="100%">
      </g>
      <mask id="mask1">
          <circle r="160" cx="200" cy="200" class="hotel-rooms__frame-mask"></circle>
      </mask>
      <circle r="170" cx="200" cy="200" class="hotel-rooms__frame-border"></circle>
    </svg>
    <div class="hotel-rooms__description">
      10 фотографий
    </div>
    <img class="hotel-rooms__weave" src="img/hotel/weave.svg">
  </div>
  <div class="hotel-rooms__room-title">Номер категории<br> "комфорт"</div>
  <div class="hotel-rooms__text">
    ОПИСАНИЕ НОМЕРА:
    <br>
    Кондиционер
    <br>
    Душевая комната
    <br>
    LCD телевизор
    <br>
    Бесплатный WI­FI
    <br>
    Сейф
    <br>
    <br>
    РАЗМЕЩЕНИЕ:
    <br>
    Одноместное
    <br>
    Двухместное
    <br>
    Доп. место - 500 рублей
    <br>
    <br>
    ЗАВТРАК:
    <br>
    не включен
    Стоимость - 500 рублей
    <br>
    <br>
    ДОПОЛНИТЕЛЬНЫЕ УСЛУГИ:
    <br>
    Обслуживание в номерах 24 часа
    <br>
    Фен на ресепшене
    <br>
    Услуги прачечной
    <br>
    Круглосуточная охраняемая парковка
    <br>
    Вызов такси
    <br>
    Услуга будильник
  </div>
</div>
<div class="hotel-rooms__item">
  <div class="hotel-rooms__frame-wrapper">
    <svg class="hotel-rooms__frame">
      <g mask="url(#mask2)">
        <image class="hotel-rooms__img" xlink:href="img/hotel/room-2.jpg" width="100%" height="100%">
      </g>
      <mask id="mask2">
          <circle r="160" cx="200" cy="200" class="hotel-rooms__frame-mask"></circle>
      </mask>
      <circle r="170" cx="200" cy="200" class="hotel-rooms__frame-border"></circle>
    </svg>
    <div class="hotel-rooms__description">
      10 фотографий
    </div>
    <img class="hotel-rooms__weave" src="img/hotel/weave.svg">
  </div>
  <div class="hotel-rooms__room-title">Номер категории<br> "комфорт улучшенный"</div>
  <div class="hotel-rooms__text">
    ОПИСАНИЕ НОМЕРА:
    <br>
    Кондиционер
    <br>
    Душевая комната
    <br>
    LCD телевизор
    <br>
    Бесплатный WI­FI
    <br>
    Сейф
    <br>
    <br>
    РАЗМЕЩЕНИЕ:
    <br>
    Одноместное
    <br>
    Двухместное
    <br>
    Доп. место - 500 рублей
    <br>
    <br>
    ЗАВТРАК:
    <br>
    включен
    <br>
    <br>
    ДОПОЛНИТЕЛЬНЫЕ УСЛУГИ:
    <br>
    Обслуживание в номерах 24 часа
    <br>
    Фен на ресепшене
    <br>
    Услуги прачечной
    <br>
    Круглосуточная охраняемая парковка
    <br>
    Вызов такси
    <br>
    Услуга будильник
  </div>
</div>
<div class="hotel-rooms__item">
  <div class="hotel-rooms__frame-wrapper">
    <svg class="hotel-rooms__frame">
      <g mask="url(#mask3)">
        <image class="hotel-rooms__img" xlink:href="img/hotel/room-3.jpg" width="100%" height="100%">
      </g>
      <mask id="mask3">
          <circle r="160" cx="200" cy="200" class="hotel-rooms__frame-mask"></circle>
      </mask>
      <circle r="170" cx="200" cy="200" class="hotel-rooms__frame-border"></circle>
    </svg>
    <div class="hotel-rooms__description">
      10 фотографий
    </div>
    <img class="hotel-rooms__weave" src="img/hotel/weave.svg">
  </div>
  <div class="hotel-rooms__room-title">Номер категории<br> "премиум"</div>
  <div class="hotel-rooms__text">
    ОПИСАНИЕ НОМЕРА:
    <br>
    Кондиционер
    <br>
    Ванная, фен
    <br>
    LCD телевизор
    <br>
    Бесплатный WI­FI
    <br>
    Чайник (чай,кофе)
    <br>
    Сейф
    <br>
    Гардероб
    <br>
    <br>
    РАЗМЕЩЕНИЕ:
    <br>
    Одноместное
    <br>
    Двухместное
    <br>
    Доп. место - 500 рублей
    <br>
    <br>
    ЗАВТРАК:
    <br>
    включен
    <br>
    <br>
    ДОПОЛНИТЕЛЬНЫЕ УСЛУГИ:
    <br>
    Обслуживание в номерах 24 часа
    <br>
    Услуги прачечной
    <br>
    Круглосуточная охраняемая парковка
    <br>
    Вызов такси
    <br>
    Услуга будильник
  </div>
</div>
