@import './mobile-navigation';

.main-navigation {

    &::after {
        content: '';
        width: 100%;
        display: block;
        height: 10px;
        background: $white;
        border-top: 3px solid $pink;

        @include mobile-tablet {
            height: 8px;
            border-top: 2px solid $pink;
        }
    }

    &__wrapper {
        width: 1200px;
        margin: 0 auto;

        @include desktop {
            width: 1024px;
        }

        @include tablet {
            width: 768px;
        }

        @include mobile {
            width: 100%;
        }
    }

    &__list {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 70px;
        padding: 0;
        margin: 0;
        position: relative;

        @include desktop {
            height: 63px;
        }

        @include mobile-tablet {
            height: 47px;
        }

        @include mobile {
            border-top: 1px solid $pink;
        }
    }

    &__item {
        width: 140px;
        text-align: center;

        @include tablet {
            width: 80px;
        }

        @include mobile {
            display: none;
        }

        &--logo {
            width: 260px;
            position: relative;

            @include mobile-tablet {
                width: 200px;
            }

            @include mobile {
                display: block;
            }
        }
    }

    &__link {
        text-transform: uppercase;
        font: 16px/1.3 $PTserif;
        color: $beige;
        text-decoration: none;
        font-weight: bold;

        &:hover {
            color: $red;
            cursor: pointer;
        }

        &:active {
            color: $red;
        }

        @include tablet {
            font-size: 12px;
        }
    }

    &__logo {
        position: absolute;
        left: 0;
        top: -16px;
    }

    &__burger-menu {
        position: absolute;
        top: 18px;
        right: 25px;
        width: 18px;
        height: 12px;
        margin: auto;

        @include not-mobile {
            display: none;
        }
    }

    &__burger {
        position: absolute;
        background: $pink;
        width: 100%;
        height: 2px;
        top: 50%;
        right: 0px;
        margin-top: -1px;
        opacity: 1;

        &::before {
            position: absolute;
            background: $pink;
            width: 18px;
            height: 2px;
            top: 5px;
            content: "";
            display: block;
        }

        &::after {
            position: absolute;
            background: $pink;
            width: 18px;
            height: 2px;
            bottom: 5px;
            content: "";
            display: block;
        }
    }

    &__burger::after,
    &__burger::before,
    &__burger {
        transition: all 0.3s ease-in-out;
    }

    &__burger-menu--active &__burger::after{
        transform: rotate(-45deg);
        bottom: 0px;
    }

    &__burger-menu--active &__burger::before{
        transform: rotate(45deg);
        top: 0px;
    }

    &__burger-menu--active &__burger{
        background: rgba(0,0,0,0);
    }
}
