<div class="restaurants__item">
  <div class="restaurants__frame-wrapper x-link-restaurants">
    <svg class="restaurants__frame">
      <g mask="url(#mask1)">
        <image class="restaurants__img" xlink:href="img/restaurant.jpg" width="100%" height="100%">
      </g>
      <mask id="mask1">
          <circle r="160" cx="200" cy="200" class="restaurants__frame-mask"></circle>
      </mask>
      <circle r="170" cx="200" cy="200" class="restaurants__frame-border"></circle>
    </svg>
    <div class="restaurants__description">
      Торждество и величие, роскошь убранства и непревзойденная атмосфера героического прошлого...<br>Если в такой обстановке вы видете главнейшие события своей жизни, место для этого "Атаманская усадьба".
    </div>
    <div class="restaurants__logo restaurants__logo--kuren"></div>
  </div>
  <div class="restaurants__text">Ростов-на-Дону, ул. Левобережная, д.5</div>
  <a href="#" class="restaurants__phone-link">+7 (800) 000-00-00</a>
</div>
<div class="restaurants__item">
  <div class="restaurants__frame-wrapper x-link-restaurants">
    <svg class="restaurants__frame">
      <g mask="url(#mask2)">
        <image class="restaurants__img" xlink:href="img/restaurant.jpg" width="100%" height="100%">
      </g>
      <mask id="mask2">
          <circle r="160" cx="200" cy="200" class="restaurants__frame-mask"></circle>
      </mask>
      <circle r="170" cx="200" cy="200" class="restaurants__frame-border"></circle>
    </svg>
    <div class="restaurants__description">
      Торждество и величие, роскошь убранства и непревзойденная атмосфера героического прошлого...<br>Если в такой обстановке вы видете главнейшие события своей жизни, место для этого "Атаманская усадьба".
    </div>
    <div class="restaurants__logo restaurants__logo--ataman"></div>
  </div>
  <div class="restaurants__text">Ростов-на-Дону, ул. Левобережная, д.5</div>
  <a href="#" class="restaurants__phone-link">+7 (800) 000-00-00</a>
</div>
<div class="restaurants__item">
  <div class="restaurants__frame-wrapper x-link-restaurants">
    <svg class="restaurants__frame">
      <g mask="url(#mask3)">
        <image class="restaurants__img" xlink:href="img/restaurant.jpg" width="100%" height="100%">
      </g>
      <mask id="mask3">
          <circle r="160" cx="200" cy="200" class="restaurants__frame-mask"></circle>
      </mask>
      <circle r="170" cx="200" cy="200" class="restaurants__frame-border"></circle>
    </svg>
    <div class="restaurants__description">
      Торждество и величие, роскошь убранства и непревзойденная атмосфера героического прошлого...<br>Если в такой обстановке вы видете главнейшие события своей жизни, место для этого "Атаманская усадьба".
    </div>
    <div class="restaurants__logo restaurants__logo--kuren"></div>
  </div>
  <div class="restaurants__text">Ростов-на-Дону, ул. Левобережная, д.5</div>
  <a href="#" class="restaurants__phone-link">+7 (800) 000-00-00</a>
</div>
