@import './vacancies-promo';

.vacancies {
    display: flex;
    justify-content: center;
    padding: 80px 0;

    @include tablet {
        padding: 60px 10px 0;
    }

    @include mobile {
        padding: 40px 0 0;
    }

    &__list {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        width: 1200px;
        flex-wrap: wrap;
        list-style-type: none;
        padding: 13px;
        margin: 0;

        @include desktop {
            width: 1000px;
        }

        @include tablet {
            width: 768px;
            justify-content: space-around;
            padding-bottom: 0;
        }

        @include mobile {
            width: 100%;
            justify-content: center;
            padding: 13px 0;
        }
    }

    &__item {
        position: relative;
        box-sizing: border-box;
        width: 360px;
        background: $pink;
        box-shadow: 0 0 0 3px $white, 0 0 0 13px $pink;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 10px 60px;

        @include desktop {
            width: 300px;
        }

        @include tablet {
            width: 300px;
            margin-bottom: 60px;
            box-shadow: 0 0 0 2px $white, 0 0 0 10px $pink;
        }

        @include mobile {
            width: calc(100% - 40px);
            margin-bottom: 40px;
            box-shadow: 0 0 0 2px $white, 0 0 0 10px $pink;
        }

        &::before,
        &::after {
            content: '';
            width: 100px;
            height: 50px;
            background: url('../img/weave--white.svg') no-repeat;
            margin: 5px 0;
        }

        &::after {
            position: absolute;
            bottom: 0;
            left: calc(50% - 50px);
            transform: rotate(180deg);
        }
    }

    // &__content {
    //     background: $pink;
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     padding: 0 20px;

    //     &::before,
    //     &::after {
    //         content: '';
    //         width: 100px;
    //         height: 50px;
    //         background: url('../img/weave--white.svg') no-repeat;
    //         margin: 5px 0;
    //     }

    //     &::after {
    //         transform: rotate(180deg);
    //     }
    // }

    &__title {
        font: 18px/1.3 $PTserif;
        color: $red;
        text-align: center;
        margin-bottom: 20px;
    }

    &__description {
        font: 14px/1.3 $PTserif;
        color: $red;
        text-align: center;
    }
}
