.vacancies-promo {
    width: 100vw;
    min-height: 700px;
    background: center url('../img/first-screen-bg.jpg') no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mobile-tablet {
        padding: 60px 0;
        min-height: 400px;
    }

    &__wrapper {
        box-sizing: border-box;
        width: 1000px;
        min-height: 400px;
        background: $pink;
        border: 10px solid $white;
        margin: 50px 0 0;
        padding: 3px;
        display: flex;
        justify-content: space-between;

        @include tablet {
            border: 8px solid $white;
            padding: 2px;
            width: 600px;
        }

        @include mobile {
            width: calc(100% - 20px);
        }
    }

    &__photo {
        box-sizing: border-box;
        background: url('../img/vacancies-photo.jpg') no-repeat;
        background-size: cover;
        border: 10px solid $white;
        width: calc(50% - 1px);

        @include mobile-tablet {
            display: none;
        }
    }

    &__text-block {
        box-sizing: border-box;
        background: $white;
        width: calc(50% - 2px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;

        @include mobile-tablet {
            width: 100%;
        }

        &::before,
        &::after {
            content: '';
            width: 100px;
            height: 50px;
            background: url('../img/weave.svg') no-repeat;
            margin: 5px 0;
        }

        &::after {
            transform: rotate(180deg);
        }
    }

    &__title {
        font: 18px/1.3 $PTserif;
        text-transform: uppercase;
        color: $red;
        margin-bottom: 20px;
        text-align: center;
    }

    &__text {
        font: 14px/1.3 $PTserif;
        color: $red;
        text-align: center;
    }

    &__link {
        text-decoration: none;
        color: $red;
        font: 14px/1.3 $PTserif;

        &:hover {
            text-decoration: underline;
        }
    }
}
