      <div class="news__item">
        <div class="news__photo"></div>
        <div class="news__text-block">
          <div class="news__title">Открытие ресторана Казачий Курень на&nbsp;Соколова 43</div>
          <div class="news__text">
            Дорогие друзья!
            <br>
            У нас отличная новость!
            <br>
            Завтра с 17:00 состоится открытие всеми любимого ресторана "Казачий Курень" в центре города.
            <br>
            Ждем всех по адресу г. Ростов-на-Дону, ул. Соколова, д. 43!
          </div>
          <div class="news__date">23.03.2016</div>
        </div>
      </div>
