@import './contacts-map';

.contacts {
    position: relative;
    width: 100%;
    min-height: 700px;
    background: center url('../img/first-screen-bg.jpg') no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mobile-tablet {
        padding: 120px 0 20px;
        min-height: 400px;
    }

    &__filter {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        background: rgba(233, 223, 209, 0.8);
    }

    &__list {
        box-sizing: border-box;
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: space-around;
        width: 1200px;
        flex-wrap: wrap;
        list-style-type: none;
        padding: 13px;
        margin: 0;

        @include desktop {
            width: 1000px;
        }

        @include tablet {
            width: 768px;
            justify-content: space-around;
        }

        @include mobile {
            width: 100%;
            padding: 13px 0;
            justify-content: center;
        }
    }

    &__item {
        position: relative;
        box-sizing: border-box;
        width: 255px;
        background: $white;
        box-shadow: 0 0 0 3px $pink, 0 0 0 13px $white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 10px 60px;
        margin-bottom: 50px;

        @include desktop {
            width: 205px;
        }

        @include tablet {
            width: 310px;
            margin-bottom: 60px;
            box-shadow: 0 0 0 2px $pink, 0 0 0 10px $white;
        }

        @include mobile {
            width: calc(100% - 40px);
            margin-bottom: 40px;
            box-shadow: 0 0 0 2px $pink, 0 0 0 10px $white;
        }

        &::before,
        &::after {
            content: '';
            width: 100px;
            height: 50px;
            background: url('../img/weave.svg') no-repeat;
            margin: 5px 0;
        }

        &::after {
            position: absolute;
            bottom: 0;
            left: calc(50% - 50px);
            transform: rotate(180deg);
        }
    }

    &__title {
        font: 14px/1.3 $PTserif;
        color: $red;
        text-align: center;
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    &__description {
        font: 14px/1.3 $PTserif;
        color: $red;
        text-align: center;
        margin-bottom: 10px;
    }

    &__link {
        text-decoration: none;
        color: $red;
        font: 14px/1.3 $PTserif;

        &:hover {
            text-decoration: underline;
        }
    }
}
