.holidays {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $beige no-repeat;
    background-size: cover;
    padding: 40px 0 80px;
    margin: 0 0 80px;

    @include desktop {
        padding: 40px 0 60px;
    }

    @include tablet {
        padding: 40px 0 60px;
    }

    @include mobile {
        padding: 40px 0 20px;
    }

    &__title-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background: $white;
        margin: 0 0 80px;

        @include desktop {
            margin: 0 0 60px;
        }

        @include tablet {
            margin: 0 0 60px;
        }

        @include mobile {
            margin: 0 0 40px;
        }

        &::before {
            content: '';
            width: 100%;
            height: 10px;
            background: $white;
            border-bottom: 3px solid $pink;
            margin-bottom: 20px;
        }

        &::after {
            content: '';
            width: 100%;
            height: 10px;
            background: $white;
            border-top: 3px solid $pink;
            margin-top: 20px;
        }
    }

    &__title {
        width: 300px;
        margin-bottom: 20px;

        @include mobile-tablet {
            width: 200px;
        }
    }

    &__text {
        font: 16px/1.3 $PTserif;
        color: $red;
        text-align: center;

        @include mobile {
            padding: 0 10px;
        }
    }

    &__features-wrapper {
        width: 1200px;
        display: flex;
        justify-content: space-between;

        @include desktop {
            width: 1024px;
            justify-content: space-around;
        }

        @include tablet {
            flex-wrap: wrap;
            width: 728px;
            justify-content: space-around;
        }

        @include mobile {
            width: 100%;
            flex-direction: column;
            align-items: center;
        }
    }
}

.feature {
    display: flex;
    flex-direction: column;
    width: 380px;
    background: $pink;
    border: 5px solid $white;
    box-sizing: border-box;
    padding: 3px;

    @include desktop {
        width: 300px;
    }

    @include tablet {
        width: 300px;
    }

    @include mobile {
        margin-bottom: 20px;
        width: 300px;
    }

    &--tablet-last {
        @include tablet {
            order: 1;
            margin-top: 40px;
        }
    }

    &__img {
        border: 5px solid $white;
        width: 354px;
        height: 200px;
        background: $beige no-repeat;
        background-position: top;
        background-size: 100%;
        margin-bottom: 3px;

        @include desktop {
            width: 274px;
            height: 180px;
        }

        @include mobile-tablet {
            width: 274px;
            height: 180px;
        }
    }

    &__text-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: $white url('../img/weave.svg') no-repeat;
        background-size: 30%;
        background-position: top 3px center;
        padding: 60px 0 0;
        text-align: center;
        min-height: 105px;

        @include desktop {
            padding: 50px 0 0;
            min-height: 125px;
        }

        @include mobile-tablet {
            padding: 50px 0 0;
            min-height: 100px;
        }
    }

    &__title {
        font: 18px/1.3 $PTserif;
        color: $red;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    &__text {
        font: 14px/1.3 $PTserif;
        color: $red;
        padding: 0 15px;
        margin-bottom: 20px;
    }
}
