@import './restaurants';
@import './holidays';
@import './hotel';

.first-screen-slider {
    width: 100%;
    height: 700px;
    background-size: cover;

    @include tablet {
        height: 500px;
    }

    @include mobile {
        height: 500px;
    }

    &__item {
        position: absolute;
        background: center no-repeat;
        background-size: cover;
        height: 700px;

        @include tablet {
            height: 500px;
        }

        @include mobile {
            height: 500px;
        }
    }
}
