.first-screen-slider {
    width: 100vw;
    height: 70vh;
    background-size: cover;

    &__item {
        background: center no-repeat;
        background-size: cover;

        &--1 {
            background-image: url('../img/first-screen-bg.jpg');
        }
        &--2 {
            background-image: url('../img/first-screen-bg2.jpg');
        }
        &--3 {
            background-image: url('../img/first-screen-bg3.jpg');
        }
    }
}

.restaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0 80px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 1200px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        width: 300px;
        margin-bottom: 40px;
    }

    &__frame-wrapper {

        margin: 40px 0;
    }

    &__frame {
        display: inline-block;
        width: 400px;
        height: 400px;
        cursor: pointer;

        &--template {
            opacity: 0;
            position: absolute;
            z-index: -100;
            top: 0;
        }
    }

    &__frame-mask {
        fill: white;
        stroke: white;
        transition: .3s stroke-width;
    }

    &__frame-border {
        fill: none;
        stroke: $red;
        stroke-width: 3;
    }

    &__text {
        font: 16px/1.3 $PTserif;
        color: $red;
    }

    &__phone-link {
        font: 18px/1.3 $PTserif;
        color: $red;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}
