.restaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0 80px;

    @include tablet {
        padding: 40px 0 60px;
    }

    @include mobile {
        padding: 20px 0 40px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 1200px;

        @include desktop {
            width: 1024px;
        }

        @include tablet {
            width: 768px;
            justify-content: space-around;
        }

        @include mobile {
            width: 100%;
            justify-content: center;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        width: 300px;
        margin-bottom: 20px;

        @include mobile-tablet {
            margin-bottom: 0;
            width: 200px;
        }
    }

    &__frame-wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        margin: 40px 0;

        &:hover .restaurants__frame-mask {
            r: 165;
            fill: rgba(255, 0, 0, 1);

            @include desktop {
                r: 145;
            }

            @include mobile-tablet {
                r: 117;
            }
        }

        &:hover .restaurants__frame-border {
            r: 175;

            @include desktop {
                r: 155;
            }

            @include mobile-tablet {
                r: 125;
            }
        }

        &:hover .restaurants__logo--kuren {
            top: 315px;

            @include desktop {
                top: 265px;
            }

            @include mobile-tablet {
                top: 195px;
            }
        }

        &:hover .restaurants__logo--ataman {
            top: 280px;

            @include desktop {
                top: 230px;
            }

            @include mobile-tablet {
                top: 160px;
            }
        }

        &:hover .restaurants__description {
            display: block;
        }

        @include desktop {
            width: 340px;
            height: 340px;
        }
    }

    &__frame {
        display: inline-block;
        width: 400px;
        height: 400px;
        cursor: pointer;

        @include mobile-tablet {
            width: 256px;
            height: 256px;
        }

        &--template {
            opacity: 0;
            position: absolute;
            z-index: -100;
            top: 0;
        }
    }

    &__frame-mask {
        fill: white;
        stroke: white;
        transition: .3s r, fill;
        stroke-width: 0;
        r: 160;
        cx: 200;
        cy: 200;

        @include desktop {
            r: 140;
            cx: 170;
            cy: 170;
        }

        @include mobile-tablet {
            r: 112;
            cx: 128;
            cy: 128;
        }
    }

    &__frame-border {
        fill: none;
        stroke: $red;
        stroke-width: 3;
        transition: .3s r;
        r: 170;
        cx: 200;
        cy: 200;

        @include desktop {
            r: 150;
            cx: 170;
            cy: 170;
        }

        @include mobile-tablet {
            r: 120;
            cx: 128;
            cy: 128;
        }
    }

    &__description {
        position: absolute;
        width: 280px;
        text-align: center;
        font: 14px/1.3 $PTserif;
        color: $red;
        top: 150px;
        cursor: pointer;
        left: 60;
        display: none;
        z-index: 11;

        @include desktop {
            width: 260px;
            left: 40px;
            top: 110px;
        }

        @include mobile-tablet {
            top: 50px;
            width: 200px;
            left: 28px;
        }
    }

    &__logo {
        position: absolute;
        transition: .3s top;
        left: 87px;
        z-index: 10;

        @include desktop {
            left: 57px;
        }

        @include mobile-tablet {
            left: 15px;
        }

        &--kuren {
            background: url('../img/logo-kuren.png') no-repeat;
            top: 310px;
            width: 226px;
            height: 88px;

            @include desktop {
                top: 260px;
            }

            @include mobile-tablet {
                top: 190px;
                background-size: 80%;
                background-position: center;
            }
        }

        &--ataman {
            background: url('../img/logo-ataman.png') no-repeat;
            width: 226px;
            height: 144px;
            top: 275px;

            @include desktop {
                top: 225px;
            }

            @include mobile-tablet {
                top: 155px;
                background-size: 80%;
                background-position: center;
            }
        }
    }

    &__text {
        font: 16px/1.3 $PTserif;
        color: $red;
    }

    &__phone-link {
        font: 18px/1.3 $PTserif;
        color: $red;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}
