.main-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $pink url('../img/footer-pattern.svg');
    background-repeat-y: no-repeat;
    background-position: top 15px center;
    background-size: 230px;

    &::before {
        content: '';
        width: 100%;
        display: block;
        height: 3px;
        background: $light-pink;
        border-top: 10px solid $pink;
    }

    &__logo {
        margin: 25px 0 0;
        width: 160px;
    }

    &__text {
        color: $red;
        font: 14px/1.3 $PTserif;
    }

    &__social-block {
        margin: 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
    }

    &__button {
        display: block;
        width: 40px;
        height: 40px;
        margin: 0 7px;
        border-radius: 50%;
        font-size: 0;
        transition: .3s width, height;
        cursor: pointer;

        &--vk {
            background: url('../img/vk.svg') no-repeat center;
        }

        &--inst {
            background: url('../img/inst.svg') no-repeat center;
        }

        &:hover {
            width: 45px;
            height: 45px;
        }
    }

    &__phone-link {
        text-decoration: none;
        font: 16px/1.3 $PTserif;
        color: $red;
    }

    &__copyright {
        color: $red;
        font: 14px/1.3 $PTserif;
        margin: 10px 0 20px;
    }
}
