<!-- @extend ../layouts/template.html -->
  <section class="contacts">
    <ul class="contacts__list">
      <li class="contacts__item">
        <div class="contacts__title">Казачий курень</div>
        <div class="contacts__description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque temporibus vero, enim rerum unde consequuntur odit facilis aut natus cum.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque temporibus vero?
        </div>
      </li>
      <li class="contacts__item">
        <div class="contacts__title">Казачий курень</div>
        <div class="contacts__description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, voluptatum impedit. Vero nam soluta, quisquam repellat tenetur fuga suscipit tempore.
        </div>
      </li>
      <li class="contacts__item">
        <div class="contacts__title">Атаманский</div>
        <div class="contacts__description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum quidem dolores, corporis iusto modi vero veniam possimus aliquid odit similique.
        </div>
      </li>
      <li class="contacts__item">
        <div class="contacts__title">Гостиница атаманская</div>
        <div class="contacts__description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum quidem dolores, corporis iusto modi vero veniam possimus aliquid odit similique.
        </div>
      </li>
    </ul>
    <div class="contacts__filter"></div>
  </section>
<!-- @endextend -->
