<div class="x-hotel-page">
  <section class="hotel-first-screen"></section>
  <section class="hotel-description">
    <img class="hotel-description__title" src="img/hotel/hotel-title.svg">
    <div class="hotel-description__contacts">
      Ростов-на-Дону, ул. Левобережная, д.8В
      <br>
      <a href="tel:+78632268223" class="hotel-description__link">8 (863) 226-82-23</a>
    </div>
    <div class="hotel-description__text hotel-description__text--mb">
      Гостиница «Атаманская» находится «в сердце» одного из самых известных мест города Ростова-­на-­Дону.
      <br>
      <br>
      Благодаря такому уникальному местоположению гостиницы, вы сможете насладиться спокойствием, находясь всего в 15 минутах езды от центра города.
    </div>
    <div class="hotel-description__text hotel-description__text--hidden x-more-text">
      Гостиница «Атаманская» предлагает своим гостям размещение в уютном трехэтажном особняке, на первом этаже которого расположен банный комплекс.
      <br>
      <br>
      А на втором и третьем этаже расположено 12 номеров, трех различных категорий. Гостиницу окружает красивая парковая территория, пройдя по дорожкам которой вы попадете в ресторан традиционной донской кухни «Атаманская Усадьба».
      <br>
      <br>
      Демократичность цен, в сочетании с уникальным расположением делает гостиницу «Атаманская» идеальным местом для гостей Ростова-­на­-Дону, желающих отдохнуть от городской суеты.
      <br>
      <br>
      Администраторы всегда готовы помочь вам и сделать ваше пребывание в Ростове-­на­-Дону комфортным и приятным.
      Благодаря небольшому размеру нашей гостиницы, вы можете рассчитывать на индивидуальный подход в обслуживании.
    </div>
    <div class="hotel-description__more x-more"></div>
  </section>
  <section class="hotel-spa">
    <div class="hotel-spa__slider x-hotel-spa-slider">
      <div class="hotel-spa__item hotel-spa__item--1"></div>
      <div class="hotel-spa__item hotel-spa__item--2"></div>
      <div class="hotel-spa__item hotel-spa__item--1"></div>
      <div class="hotel-spa__item hotel-spa__item--2"></div>
    </div>
    <div class="hotel-spa__text-block">
      <div class="hotel-spa__title">Спа-комплекс</div>
      <div class="hotel-spa__text">
        К Вашим услугам прекрасные сауны с отличными парными, комфортными комнатами отдыха, душевыми кабинами и купелью, температура парных регулируется в зависимости от Ваших пожеланий. В наших саунах Вы получите непередаваемое наслаждение как от самого посещения сауны, так и от предлагаемых процедур.
      </div>
    </div>
  </section>
  <section class="hotel-rooms x-hotel-rooms" id="hotel-rooms">
    <img src="img/hotel/rooms-title.svg" alt="" class="hotel-rooms__title">
    <div class="hotel-rooms__wrapper">
      <!-- @include ../blocks/hotel/hotel-item.html -->
    </div>
  </section>
</div>
