<!-- @extend ../layouts/template.html -->
<section class="first-screen-slider x-first-screen-slider">
  <div class="first-screen-slider__item first-screen-slider__item--1"></div>
  <div class="first-screen-slider__item first-screen-slider__item--2"></div>
  <div class="first-screen-slider__item first-screen-slider__item--3"></div>
</section>
<section class="restaurants x-restaurants">
  <img src="img/our-restaurants.svg" alt="" class="restaurants__title">
  <div class="restaurants__wrapper">
    <!-- @include ../blocks/main-page/restaurant-item.html -->
  </div>
</section>
<!-- @endextend -->
