<!-- @extend ../layouts/template.html -->
  <div class="x-restaurants-page">
    <section class="restaurants-first-screen">
      <div class="restaurants-first-screen__parallax" data-type="parallax" data-depth="0.70"></div>
      <div class="restaurants-first-screen__parallax-bg"></div>
    </section>
    <section class="restaurants-description">
      <div class="restaurants-description__logo-wrapper">
        <img class="restaurants-description__arch" src="img/restaurants/arch.svg">
        <img src="img/logo-ataman.png" alt="Атаманский" class="restaurants-description__logo">
      </div>
      <div class="restaurants-description__contacts">
        Ростов-на-Дону, ул. Левобережная, д.8В
        <br>
        <a href="tel:+78632268223" class="restaurants-description__link">8 (863) 226-82-23</a>
      </div>
      <div class="restaurants-description__text restaurants-description__text--mb">
        Каждый раз, приезжая в «Атаманский», погружаешься в необычный, ни с чем не сравнимый мир казачества, становишься частью его героической истории.
        <br>
        <br>
        В «Атаманском» вы попадаете не в ресторан, а в дом самого атамана Платова, так как здание выполнено в архитектурном духе того времени.
      </div>
      <div class="restaurants-description__text restaurants-description__text--hidden x-more-text">
        Богатая лестница, ведущая в зал, украшена портретами всех атаманов войска Донского – от первого Сары-Азмана до Водолацкого Виктора Петровича, нынедействующего. На втором этаже расположен большой зал, рассчитанный на 200 персон. Его красота и убранство поражает воображение: резная мебель, бронзовые люстры (точные копии люстр из дома атамана Платова), флаги войска Донского, инкрустированные кристаллами Сваровски. Особое внимание привлекает печь из дома атамана Ефремова , которую украшают более двухсот израсцов с пейзажами , расписанные вручную. Над оформлением интерьера трудились сотни специалистов в течение нескольких лет. Их руками выполнены все детали из бронзы, металла, стекла и дерева. Деревянные перила, уютный камин, цветные витражи создают атмосферу, которая царила в XVIII – XIX вв. Каждая вещь в ресторане, будь-то стол или люстра, посуда или шкаф – это частичка из прошлого, получившая второе рождение в нашем времени.
        <br>
        <br>
        Ежедневно в «Атаманском» выступает казачий коллектив, встречающий дорогих гостей веселыми песнями и плясками. При желании можно провести обряд посвящения в казаки с торжественным вручением нагайки и грамоты.
        <br>
        <br>
        Для проведения небольших юбилеев, праздничных мероприятий, корпоративных вечеринок есть два VIP зала на двадцать и сорок человек, расположенных на третьем этаже «Атаманской усадьбы». Изысканный интерьер помещений подчеркивает важность и торжественность вечера.
        <br>
        <br>
        В теплое время года для наших гостей открыта летняя веранда на 250 персон. Из окон веранды открывается вид на декоративный пруд с рыбками, кувшинками, неторопливо плавающими лебедями.
      </div>
      <div class="restaurants-description__more x-more"></div>
    </section>
    <section class="restaurants-menu">
      <div class="restaurants-menu__slider x-restaurants-menu-slider">
        <div class="restaurants-menu__item restaurants-menu__item--1"></div>
        <div class="restaurants-menu__item restaurants-menu__item--2"></div>
        <div class="restaurants-menu__item restaurants-menu__item--1"></div>
        <div class="restaurants-menu__item restaurants-menu__item--2"></div>
      </div>
      <div class="restaurants-menu__list-wrapper">
        <div class="restaurants-menu__list">
          <a href="docs/ataman_menu.pdf" target="_blank" class="restaurants-menu__link">
            <img src="img/restaurants/menu.svg" alt="" class="restaurants-menu__img">
            Основное меню
          </a>
          <a href="docs/ataman_menu.pdf" target="_blank" class="restaurants-menu__link">
            <img src="img/restaurants/menu.svg" alt="" class="restaurants-menu__img">
            Винная карта
          </a>
          <a href="docs/ataman_bar.pdf" target="_blank" class="restaurants-menu__link">
            <img src="img/restaurants/menu.svg" alt="" class="restaurants-menu__img">
            Меню бара
          </a>
        </div>
      </div>
    </section>
    <section class="restaurants-gallery x-restaurants-gallery" id="restaurants-gallery">
      <img src="img/restaurants/gallery-title.svg" alt="" class="restaurants-gallery__title">
      <div class="restaurants-gallery__wrapper">
        <!-- @include ../blocks/restaurants/restaurants-item.html -->
      </div>
    </section>
  </div>
<!-- @endextend -->
