<!-- @extend ../layouts/template.html -->
  <section class="vacancies-promo">
    <div class="vacancies-promo__wrapper">
      <div class="vacancies-promo__photo"></div>
      <div class="vacancies-promo__text-block">
        <div class="vacancies-promo__title">Работа у нас</div>
        <div class="vacancies-promo__text">
          Группа компаний "АтаманКурень" яркий игрок на рынке ростовского ресторанного бизнеса.
          Мы готовы к общению с молодыми, креативными, яркими официантами, профессиональными поварами, ответственным техническим персоналом.
          <br>
          <br>
          Хотите работать в компании?
          <br>
          <br>
          Присылайте резюме на электронный адрес
          <br>
          <a class="vacancies-promo__link" href="mailto:atamanusadba@mail.ru">atamanusadba@mail.ru</a>
          <br>
          Отдел персонала ГК "АтаманКурень" свяжется с Вами!
        </div>
      </div>
    </div>
    <div class="vacancies-promo__filter"></div>
  </section>
  <div class="vacancies">
    <ul class="vacancies__list">
      <li class="vacancies__item">
        <div class="vacancies__title">Менеджер</div>
        <div class="vacancies__description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero dolorem nemo nisi, deleniti amet vero asperiores sapiente, earum laboriosam quisquam id possimus omnis quas culpa.
        </div>
      </li>
      <li class="vacancies__item">
        <div class="vacancies__title">Менеджер</div>
        <div class="vacancies__description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, voluptatum impedit. Vero nam soluta, quisquam repellat tenetur fuga suscipit tempore.
        </div>
      </li>
      <li class="vacancies__item">
        <div class="vacancies__title">Менеджер</div>
        <div class="vacancies__description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum quidem dolores, corporis iusto modi vero veniam possimus aliquid odit similique.
        </div>
      </li>
    </ul>
  </div>
<!-- @endextend -->
