.hotel-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: $white;
    margin: 60px 0 80px;

    @include desktop {
        margin: 60px 0 60px;
    }

    @include tablet {
        margin: 40px 0 60px;
    }

    @include mobile {
        margin: 40px 0 40px;
    }

    &__title {
        width: 300px;
        margin-bottom: 20px;

        @include mobile-tablet {
            width: 200px;
        }
    }

    &__contacts {
        font: 16px/1.3 $PTserif;
        color: $red;
        text-align: center;
    }

    &__link,
    &__more {
        font: 16px/1.3 $PTserif;
        color: $red;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        text-transform: uppercase;

        &:hover {
            text-decoration: underline;
        }
    }

    &__link {
        margin-bottom: 40px;
        display: block;
    }

    &__more {
        font: 14px/1.3 $PTserif;
        display: block;

        &::before {
            content: 'Читать дальше';
        }

        &--active {

            &::before {
                content: 'Скрыть';
            }
        }
    }

    &__text {
        font: 14px/1.3 $PTserif;
        color: $red;
        text-align: center;
        width: 600px;
        margin-bottom: 20px;

        @include mobile {
            padding: 0 10px;
            width: calc(100% - 20px);
        }

        &--hidden {
            display: none;
        }

        &--active {
            display: block;
        }
    }
}
