<div class="restaurants-gallery__item x-room">
  <div class="restaurants-gallery__frame-wrapper x-room-album">
    <svg class="restaurants-gallery__frame">
      <g mask="url(#mask1)">
        <image class="restaurants-gallery__img" xlink:href="img/restaurants/photo-1.jpg" width="100%" height="100%">
      </g>
      <mask id="mask1">
          <circle r="120" cx="150" cy="150" class="restaurants-gallery__frame-mask"></circle>
      </mask>
      <circle r="127" cx="150" cy="150" class="restaurants-gallery__frame-border"></circle>
    </svg>
    <div class="restaurants-gallery__description">
      3 фотографии
    </div>
    <img class="restaurants-gallery__weave" src="img/hotel/weave.svg">
  </div>
  <div class="restaurants-gallery__img-list">
    <a href="img/restaurants/foto-1.jpg" class="restaurants-gallery__img-item-preview x-target-lightbox" data-lightbox="comfort room" data-title="Наш зал">
      <img class="restaurants-gallery__img-item" src="img/restaurants/photo-1.jpg" alt="room">
    </a>
    <a href="img/restaurants/foto-2.jpg" class="restaurants-gallery__img-item-preview" data-lightbox="comfort room" data-title="">
      <img class="restaurants-gallery__img-item" src="img/restaurants/photo-2.jpg" alt="room">
    </a>
    <a href="img/restaurants/foto-3.jpg" class="restaurants-gallery__img-item-preview" data-lightbox="comfort room" data-title="У нас их много :)">
      <img class="restaurants-gallery__img-item" src="img/restaurants/photo-3.jpg" alt="room">
    </a>
  </div>
  <div class="restaurants-gallery__room-title">Большой зал</div>
</div>
<div class="restaurants-gallery__item x-room">
  <div class="restaurants-gallery__frame-wrapper x-room-album">
    <svg class="restaurants-gallery__frame">
      <g mask="url(#mask2)">
        <image class="restaurants-gallery__img" xlink:href="img/restaurants/photo-2.jpg" width="100%" height="100%">
      </g>
      <mask id="mask2">
          <circle r="120" cx="150" cy="150" class="restaurants-gallery__frame-mask"></circle>
      </mask>
      <circle r="127" cx="150" cy="150" class="restaurants-gallery__frame-border"></circle>
    </svg>
    <div class="restaurants-gallery__description">
      3 фотографии
    </div>
    <img class="restaurants-gallery__weave" src="img/hotel/weave.svg">
  </div>
  <div class="restaurants-gallery__img-list">
    <a href="img/restaurants/photo-2.jpg" class="restaurants-gallery__img-item-preview x-target-lightbox" data-lightbox="comfort+ room" data-title="Наш зал">
      <img class="restaurants-gallery__img-item" src="img/restaurants/photo-2.jpg" alt="room">
    </a>
    <a href="img/restaurants/photo-1.jpg" class="restaurants-gallery__img-item-preview" data-lightbox="comfort+ room" data-title="А это другой зал">
      <img class="restaurants-gallery__img-item" src="img/restaurants/photo-1.jpg" alt="room">
    </a>
    <a href="img/restaurants/photo-3.jpg" class="restaurants-gallery__img-item-preview" data-lightbox="comfort+ room" data-title="У нас их много :)">
      <img class="restaurants-gallery__img-item" src="img/restaurants/photo-3.jpg" alt="room">
    </a>
  </div>
  <div class="restaurants-gallery__room-title">Жемчужный зал</div>
</div>
<div class="restaurants-gallery__item x-room">
  <div class="restaurants-gallery__frame-wrapper x-room-album">
    <svg class="restaurants-gallery__frame">
      <g mask="url(#mask3)">
        <image class="restaurants-gallery__img" xlink:href="img/restaurants/photo-3.jpg" width="100%" height="100%">
      </g>
      <mask id="mask3">
          <circle r="120" cx="150" cy="150" class="restaurants-gallery__frame-mask"></circle>
      </mask>
      <circle r="127" cx="150" cy="150" class="restaurants-gallery__frame-border"></circle>
    </svg>
    <div class="restaurants-gallery__description">
      3 фотографии
    </div>
    <img class="restaurants-gallery__weave" src="img/hotel/weave.svg">
  </div>
  <div class="restaurants-gallery__img-list">
    <a href="img/restaurants/photo-3.jpg" class="restaurants-gallery__img-item-preview x-target-lightbox" data-lightbox="premium room" data-title="Наш зал">
      <img class="restaurants-gallery__img-item" src="img/restaurants/photo-3.jpg" alt="room">
    </a>
    <a href="img/restaurants/photo-2.jpg" class="restaurants-gallery__img-item-preview" data-lightbox="premium room" data-title="А это другой зал">
      <img class="restaurants-gallery__img-item" src="img/restaurants/photo-2.jpg" alt="room">
    </a>
    <a href="img/restaurants/photo-1.jpg" class="restaurants-gallery__img-item-preview" data-lightbox="premium room" data-title="У нас их много :)">
      <img class="restaurants-gallery__img-item" src="img/restaurants/photo-1.jpg" alt="room">
    </a>
  </div>
  <div class="restaurants-gallery__room-title">Бежевый зал</div>
</div>
<div class="restaurants-gallery__item x-room">
  <div class="restaurants-gallery__frame-wrapper x-room-album">
    <svg class="restaurants-gallery__frame">
      <g mask="url(#mask4)">
        <image class="restaurants-gallery__img" xlink:href="img/restaurants/photo-3.jpg" width="100%" height="100%">
      </g>
      <mask id="mask4">
          <circle r="120" cx="150" cy="150" class="restaurants-gallery__frame-mask"></circle>
      </mask>
      <circle r="127" cx="150" cy="150" class="restaurants-gallery__frame-border"></circle>
    </svg>
    <div class="restaurants-gallery__description">
      3 фотографии
    </div>
    <img class="restaurants-gallery__weave" src="img/hotel/weave.svg">
  </div>
  <div class="restaurants-gallery__img-list">
    <a href="img/restaurants/photo-3.jpg" class="restaurants-gallery__img-item-preview x-target-lightbox" data-lightbox="premium1 room" data-title="Наш зал">
      <img class="restaurants-gallery__img-item" src="img/restaurants/photo-3.jpg" alt="room">
    </a>
    <a href="img/restaurants/photo-2.jpg" class="restaurants-gallery__img-item-preview" data-lightbox="premium1 room" data-title="А это другой зал">
      <img class="restaurants-gallery__img-item" src="img/restaurants/photo-2.jpg" alt="room">
    </a>
    <a href="img/restaurants/photo-1.jpg" class="restaurants-gallery__img-item-preview" data-lightbox="premium1 room" data-title="У нас их много :)">
      <img class="restaurants-gallery__img-item" src="img/restaurants/photo-1.jpg" alt="room">
    </a>
  </div>
  <div class="restaurants-gallery__room-title">Летний зал</div>
</div>
