.restaurants-menu {

    &__slider {
        overflow: hidden;
        position: relative;
        z-index: 2;
        width: 100%;
        height: 300px;
        background: $pink;
        background-size: cover;
        box-shadow: 0 0 0 3px $white, 0 0 0 13px $pink;
        padding: 10px 0;
    }

    &__item {
        background: center no-repeat;
        background-size: cover;
        outline: none;
        margin: 0 5px;
        height: 280px;
    }

    &__list-wrapper {
        position: relative;
        z-index: 1;
        background: $pink;
        padding: 30px 0 40px;
        display: flex;
        justify-content: center;

        @include mobile {
            padding-bottom: 10px;
        }

        &::after {
            position: absolute;
            left: 0;
            bottom: 10px;
            display: block;
            content: '';
            width: 100%;
            height: 3px;
            background: $white;
        }
    }

    &__list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 600px;

        @include mobile {
            width: 100%;
            flex-wrap: wrap;
        }
    }

    &__link {
        font: 16px/1.3 $PTserif;
        color: $red;
        text-transform: uppercase;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 200px;
        text-align: center;

        @include mobile {
            width: 140px;
            font-size: 14px;
            margin-bottom: 30px;
        }

        &:hover {
            text-decoration: underline;
        }

        &:hover .menu-0 {
            fill: $red;
        }
    }

    &__img {
        width: 50px;
        margin-bottom: 20px;
    }

    &__text {
        font: 16px/1.3 $PTserif;
        color: $red;
        width: 600px;
        text-align: center;

        @include mobile {
            width: calc(100% - 20px);
        }
    }
}
